p {
  font-family: Lato;
}

.left{
  float:left;
  width:70%;
}

.right{
  float:right;
  width:30%;
}

.img{
  width:300px;
  height:200px;
}

mat-cell {
  font-weight: bold;
}

.panel-heading {
  font-size: 23px;
  font-weight: bold;
  background-color:#7B1FA2;
  padding: 15px 0px 15px 20px;
  font-family:Arial;
}

.mat-toolbar{
  background-color: #7B1FA2;
  color: white;
  font-weight: bold;
  font-size: 23px;
  font-family:Arial;
}

mat-line {
   display: flex;
  flex-direction: row;
}

h1{
  text-align:center;
}

h2{
  text-align:center;
}

h3 {
  font-size: 16px;
  font-weight: bold; 
}

h4 {
  font-size: 15px;
  font-weight: bold;
}
mat-header-cell {
  font-size: 20px;
  color: black;
}

.example-container {
  position: absolute;
  background: #eee;
  padding: 0px 0px 42px 0px;
}

mat-sidenav {
  font-size:20px;
  font-weight: bold;
  font-family: Arial;
  padding: 120px 20px 0px 20px; 
}

mat-sidenav-content {
  font-size:15px;
  font-weight: bold;
  font-family: Arial;
}

.java {
  float:left;
  width:50%;
  padding-left: 10px;
}

.others {
  float:right;
  width:50%;
}

mat-panel-title {
  font-size:18px;
  font-weight: bold;
  font-family: Arial; 
}

mat-panel-description {
  font-size:15px;
  font-weight: bold;
  font-family: Arial; 
}

button {
  padding: 10px 20px 10px 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#position{
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  display: flex;
  flex-direction: row;
}

#date{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  display: flex;
  flex-direction: row;
}

#duties{
  font-size: 15px;
  font-family: Arial;
  padding: 0px 20px 10px 18px;
}

.example-card {
  max-width: 400px;
}

.example-header-image1 {
  background-image: url('https://cdn.jsdelivr.net/gh/Nick100395/angular-ivy-k2km14@master/src/Tutoring_logo.png');
  background-size: cover;
}

.example-header-image2 {
  background-image: url('https://cdn.jsdelivr.net/gh/Nick100395/angular-ivy-k2km14@master/src/Travelling_logo.png');
  background-size: cover;
}

.example-header-image3 {
  background-image: url('https://cdn.jsdelivr.net/gh/Nick100395/angular-ivy-k2km14@master/src/Puzzles_logo.png');
  background-size: cover;
}

.hobby_left {
  float:left;
  width:33.33%;
}